server:
  port: 8080

spring:
  datasource:
    url: jdbc:sqlserver://0.0.0.0:1433;databaseName=tokensdb;encrypt=false
    username: sa
    password: db_com
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.SQLServerDialect

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
